/* *Roots */
:root {
  --font-family: "Josefin Sans", sans-serif;
  --second-family: "Roboto", sans-serif;
  --text-color: #11161e;
  --3d-primary-color: #151a32;
  --comon-colot: #fff;
  --1st-primary-color: #ff6f61;
  --paragraph-color: #444;
  --2nd-primary-color: #ff5645;
  --background-color: #f1f1f1;
  --bg: #f1f3f4;
  --black: #000;
  --a6aab7: #a6aab7;
}

/* *    COMMON CSS STARTS HARE */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
span {
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--font-family);
}

/* *common css ens */

/* *navbar */

#navLg ul li a {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: var(--text-color);
  padding: 37px 22.5px;
}
#navLg ul li a.active-link {
  color: var(--1st-primary-color);
}
#navLg ul li a :hover {
  color: var(--1st-primary-color);
}
#navLg ul li:hover a {
  color: var(--1st-primary-color);
}

nav .social-link ul li {
  display: inline-block;
}

nav .social-link ul li a {
  color: var(--3d-primary-color);
  padding: 0 10px;
  font-size: 18px;
  position: relative;
}

nav .social-link ul li a span.cartCount {
  position: absolute;
  top: -4px;
  right: 2px;
  background-color: var(--1st-primary-color);
  border-radius: 50%;
  width: 15px;
  height: 15px;
  text-align: center;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--comon-colot);


}
.navbarSm {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}
.navbarSm .social-link ul {
  text-align: center;
}
.navbarSm .social-link ul li a {
  padding: 0 5px;
}
.navbarSm .logo img {
  height: 50%;
  min-width: 100%;
}
.navbarSm .logo {
  text-align: center;
  padding: 15px 0;
}
nav .social-link ul li a span.cartCount {
  right: -4px;
}
.navbarSm .menuSm a {
  color: var(--3d-primary-color);
}

#offcanvasSmall .offcanvas-body ul li a{
  text-align: left;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: var(--text-color);
  padding: 10px 0;
  display: block;
  border-bottom: 1px solid #ccc;
}

#offcanvasSmall .offcanvas-body ul li:last-child a{
  border: none;
}

/* *banner */
#banner {
  position: relative;
}
#banner .bannerSlider .bannerSlide {
  height: 800px;
  /* background-color: blue; */
  background-size: cover ;
  background-position: center;
}

#banner .bannerSlide *{
  transform: translateY(50px);
  opacity: 0;
  visibility: hidden;
  transition: 0.4s ease;
}
#banner .bannerSlide.slick-active *{
  transform: translateY(0px);
  opacity: 1;
  visibility: visible;
}

#banner .banner_Cnt h6{
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 156%;
  color: #1d1d1d;
}
#banner .banner_Cnt h2{
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 64px;
  line-height: 116%;
  color: #1d1d1d;
  margin: 14px 0 16px 0;
  transition-delay: 0.2s;
}
#banner .banner_Cnt p{
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #1d1d1d;
  margin-bottom: 29px;
  transition-delay: 0.4s;
}
#banner .banner_Cnt a{
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 167%;
  text-align: center;
  color: var(--comon-colot);
  background: var(--1st-primary-color);
  padding: 13px 11px 13px 38px ;
  display: inline-block ;
  transition-delay: 0.6s;
}
#banner .banner_Cnt a i{
  padding: 10px 8.18px 10px 11px;
}

.bannerDots{
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
}
.bannerDots li {
  display: inline-block;
}
.bannerDots li button{
  width: 10.91px;
  height: 6px;
  border-radius: 5px ;
  background-color: black;
  border: none;
  color: transparent;
  margin-right: 5.46px;
  transition: 0.33s ease;
}

.bannerDots li.slick-active button{
  width: 28.36px;
  background-color: var(--1st-primary-color);
}